.wp-block .wp-block-cover {
	height: auto;
}

/*
 *  Elements
 *
 */

.block-editor-block-list__layout {
	font-family: var(--ropecon-font) !important;
	color: rgb(51,51,51);
}
	.editor-styles-wrapper .is-root-container h1,
	.editor-styles-wrapper .is-root-container h2,
	.editor-styles-wrapper .is-root-container h3,
	.editor-styles-wrapper .is-root-container h4,
	.editor-styles-wrapper .is-root-container h5,
	.editor-styles-wrapper .is-root-container h6,
	.editor-styles-wrapper .is-root-container .has-large-font-size {
		font-weight: 700 !important;
		font-family: var(--ropecon-font-heading);
	}

	.editor-styles-wrapper .is-root-container h1 { font-size: 4em !important; }
	.editor-styles-wrapper .is-root-container h2 { font-size: 1.5em !important; }

.editor-styles-wrapper .is-root-container > .wp-block,
.editor-styles-wrapper .is-root-container > .wp-block > .block-editor-block-list__block {
	margin-top: 0;
	margin-bottom: 0;
}

/*
 *  Core blocks
 *
 */

h1.wp-block {
	max-width: auto;
}

/*  Columns  */

.editor-styles-wrapper .wp-block-column > .wp-block {
/*	height: 100%; */
}

.editor-styles-wrapper .wp-block-column:not(:first-child) {
	margin-left: 0 !important;
}

	/*  Block style: Content in boxes  */
	.editor-styles-wrapper .wp-block-columns.is-style-content-in-boxes {
		margin-top: 2em;
		margin-bottom: 2em;
	}
		.editor-styles-wrapper .wp-block-columns.is-style-content-in-boxes .wp-block-column {
			background-color: #fff;
			box-shadow: 0 0 2em 0 rgba(0,0,0,0.1);
			padding: 2em;
		}
			.editor-styles-wrapper .wp-block-columns.is-style-content-in-boxes .wp-block-column > :first-child { margin-top: 0; }
			.editor-styles-wrapper .wp-block-columns.is-style-content-in-boxes .wp-block-column > :last-child { margin-bottom: 0; }

			.editor-styles-wrapper .wp-block-columns.is-style-content-in-boxes .wp-block-column:not(:first-child) {
				margin-left: 2em !important;
			}

				.editor-styles-wrapper .wp-block-columns.is-style-content-in-boxes .wp-block-column > * {
					height: auto;
				}
				.editor-styles-wrapper .wp-block-columns.is-style-content-in-boxes .wp-block-column > figure:first-child {
					margin: -2em -2em 0 -2em;
				}


/*  Cover  */

	/*  Block style: Full height  */

	.editor-styles-wrapper .wp-block-cover.is-style-full-height {
		height: 100vh;
	}

/*  Media & Text  */

.editor-styles-wrapper .wp-block-media-text .wp-block-media-text__media {
	position: relative !important;
	height: 100% !important;
	width: 100% !important;
	overflow: hidden;
}
	.editor-styles-wrapper .wp-block-media-text .wp-block-media-text__media img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		max-width: none;
		max-height: none;
		-o-object-fit: cover;
		object-fit: cover;
	}

	.editor-styles-wrapper .wp-block-media-text .wp-block-media-text__content {
		padding: 4em;
	}
		.editor-styles-wrapper .wp-block-media-text .wp-block-media-text__content > :first-child { margin-top: 0; }
		.editor-styles-wrapper .wp-block-media-text .wp-block-media-text__content > :last-child { margin-bottom: 0; }

	/*  Block style: Text overlaying image  */

	.editor-styles-wrapper .wp-block-media-text.is-style-text-overlaying-image .wp-block-media-text__media {
		grid-column: 1 !important;
		width: 200% !important;
		max-width: 200% !important;
	}
	.editor-styles-wrapper .wp-block-media-text.is-style-text-overlaying-image .wp-block-media-text__content {
		color: #fff;
	}

/*  Paragraph  */

	/*  Block style: Currency  */
	.editor-styles-wrapper p.is-style-currency::before {
		content: "€";
		font-size: 50%;
		line-height: 250%;
		margin-right: 0.3em;

		vertical-align: top;
	}

/*  Table  */

.editor-styles-wrapper td,
.editor-styles-wrapper th {
	border: 1px solid rgba(0,0,0,0.2) !important;
}
	.editor-styles-wrapper th,
	.editor-styles-wrapper thead td {
		text-align: left;
		font-family: var(--ropecon-font-heading);
		font-weight: 600;
	}
	.editor-styles-wrapper table thead {
		border-bottom: none;
	}


/*
 *  Color palette
 *
 */

.has-white-color * { color: #fff !important; }

/*
 *
 *
 */

.wp-block-themeisle-blocks-icon-picker-popover button {
	text-align: left;
}
.wp-block-themeisle-blocks-icon-picker-popover i {
	font-size: 24px !important;
}
.wp-block-themeisle-blocks-icon-picker-popover i::before {
	text-align: center;
}

/*
 *  Icons
 *
 */

.editor-styles-wrapper [data-type="ropecon/icon"],
.editor-styles-wrapper [data-type="ropecon/icon"] p {
	line-height: 1;
	margin: 0;
}
	.editor-styles-wrapper [data-type="ropecon/icon"] > .wp-block {
		height: auto !important;
	}
		.editor-styles-wrapper [data-type="ropecon/icon"] > .wp-block > * {
			float: none !important;
		}
	.editor-styles-wrapper [data-type="ropecon/icon"] p {
		text-align: center;
	}
		.editor-styles-wrapper [data-type="ropecon/icon"][data-align="left"] p {
			text-align: left;
		}
		.editor-styles-wrapper [data-type="ropecon/icon"][data-align="right"] p {
			text-align: right;
		}


.editor-styles-wrapper p[class^="icon-"],
.editor-styles-wrapper p[class*=" icon-"] {
	display: block;
	font-size: 48px;
	margin-bottom: 12px;
}

.editor-styles-wrapper p.icon-Ropecon:before {
	content: " ";
	display: block;
	height: 48px;
	background-image: url(../images/ropecon/ropecon_icon_black.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 0;
}
	.editor-styles-wrapper  [data-type="ropecon/icon"][data-align="left"] p.icon-Ropecon:before {
		background-position: 0 0;
	}
	.editor-styles-wrapper  [data-type="ropecon/icon"][data-align="right"] p.icon-Ropecon:before {
		background-position: 100% 0;
	}

/*  Fix flickering in block patterns  */

.block-editor-block-patterns-list__item {
	width: 95%;
}
