#header nav .sub-menu {
	display: none;
}

/*  Dropdown menus  */

#header nav .menu > li.menu-item-has-children {
	position: relative;
}
	#header:not(.open) nav .menu > li.menu-item-has-children::after {
		position: absolute;
		top: 0;
		right: 0.1em;
		content: " ";
		display: inline-block;
		width: 10px;
		height: 65px;
		background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAQAAADoz+32AAAAAnNCSVQICFXsRgQAAAAJcEhZcwAACCcAAAgnARf1jpAAAAAZdEVYdFNvZnR3YXJlAHd3dy5pbmtzY2FwZS5vcmeb7jwaAAAAMElEQVQIHQXBwQmAMAAAsWwhFdsJnKvfgvvDmWg3gEZbo9NNV6cHzU5vpwlo9bXgB8QRFiNnK1XIAAAAAElFTkSuQmCC) 100% 50% no-repeat;
	}

#header:not(.open) nav ul.menu > li > .sub-menu {
	display: none;
	position: absolute;
	min-width: 16em;
	background-color: #232323;
}
		#header nav.open-on-click li.menu-item-has-children.open > a,
		#header nav.open-on-hover li.menu-item-has-children:hover > a,
		#header nav.no-js li.menu-item-has-children:hover > a {
			z-index: 100;
			position: relative;
		}
		#header nav.open-on-click li.menu-item-has-children.open ul.sub-menu,
		#header nav.open-on-hover li.menu-item-has-children:hover ul.sub-menu,
		#header nav.no-js li.menu-item-has-children:hover ul.sub-menu {
			display: block;
		}
			#header nav li.menu-item-has-children.open.expand-left ul.sub-menu {
				right: 0;
			}

#header nav .sub-menu li,
#header nav .sub-menu li a {
	display: block;
}
	#header nav .sub-menu li a {
		line-height: 36px;
	}

#header nav .sub-menu .sub-menu {
	padding-top: 0;
	padding-bottom: 0;
	margin-left: 1.5em;
}

/*  Compact menu  */

#header.compact nav ul.menu > li { display: none; }
#header.compact:not(.open) nav ul.menu > li.visible { display: inline-block; }
	#header.compact.open {
		background-color: #232323;
	}
	#header.compact.open nav ul.menu {
		display: block;
		position: absolute;
		right: 0;
		left: 0;
		top: 65px;
		border-top: 1px solid rgba(0,0,0,0.1);
		background-color: #232323;
		box-shadow: 0 0.3em 0.3em rgba(0,0,0,0.02);
		font-size: 90%;
		padding: 1em 0;
	}
		#header.compact.open nav ul li,
		#header.compact.open nav ul li a {
			display: block;
			font-size: 90%; /* TODO: Every menu level gets smaller and smaller... */
			line-height: 1.4em;
		}
			#header.compact.open nav ul li a {
				padding: 0.4em 30px;
			}

	#header.compact.open nav ul.sub-menu {
		display: block;
		padding: 0;
		margin: 0 0 0 2em;
	}

@media screen and (min-width:800px) {
	#header.compact.open nav ul.menu {
		display: grid;
		grid-template-columns: repeat(2,1fr);
	}
		#header.compact.open nav ul.menu > li {
			margin-bottom: 1em;
		}
		#header.compact.open nav li {
			white-space: normal;
		}
}

@media screen and (min-width:1024px) {
	#header.compact.open nav ul.menu {
		padding-left: 10%;
		padding-right: 10%;

		grid-template-columns: repeat(3,1fr);
	}
}

@media screen and (min-width:1200px) {
	#header.compact.open nav ul.menu {
		display: grid;
	}
}

/*  Hide and show a dropdown menu toggle (JS only)  */
#header .popup-toggle {
	display: none;
	height: 65px;
	width: 24px;
	padding: 0 30px;
	margin-right: -15px;

	background: transparent url(images/menu/menu_w.svg) 50% 50% no-repeat;
	background-size: 24px 24px;
}
	#header:not(.open) section {
		position: relative;
	}
	#header.compact nav .popup-toggle {
		position: absolute;
		right: 30px;
		display: block;
	}
		#header.compact.open nav .popup-toggle {
/*			position: static; */
		}

@media screen and (min-width:1024px) {
	#header.compact.open nav .popup-toggle {
		right: calc( 10% + 30px );
	}
}
