/*
 *  To be obsolete
 *
 */

.wp-block:nth-child(even) .ropecon-two-columns .is-text-column {
	order: 2;
}
	.editor-styles-wrapper .ropecon-two-columns .block-editor-block-list__block.wp-block-cover {
		margin: 0;
	}

.editor-styles-wrapper .ropecon-text-overlaying-image .wp-block-columns {
	max-width: 80%;
}

